.App {
  background-color: #E8F1F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #414141;
  font-weight: 600;
}

.App > div {
  padding-left: 16rem;
  padding-right: 16rem;
}

.Header h1 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.Header h2 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.SortSearch {
  display: flex;
  flex-direction: row;
  gap: 1.75rem;
  align-items: center;
}

hr {
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: #13293D;
}
